<div class="top-bar">
  <button routerLink="/" routerLinkActive="active" class="back-button">&larr;</button>
</div>

<div>
  <table>
    <thead>
      <tr>
          <th>kg</th>
          <th>Tokens</th>
          <th>Location</th>
          <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let archiveItem of archive">
        <th>{{archiveItem.kg}}</th>
        <th>{{archiveItem.tokens}}</th>
        <th>{{archiveItem.location}}</th>
        <th>{{archiveItem.timestamp}}</th>
      </tr>
    </tbody>
  </table>
</div>