<div class="top-bar">
    <button routerLink="/" routerLinkActive="active" class="back-button">&larr;</button>
</div>

<p>
  <input (input)="kgValue = $event.target.value" type="number" placeholder="Kg of plastic waste">
  <input [(ngModel)]="dateValue" type="datetime-local" placeholder="Time / Date">
  <input (input)="locationValue = $event.target.value" type="Text" placeholder="Location">
  <input [(ngModel)]="addressValue" type="text" placeholder="Address (Scan QR Code)">
  <button (click)="scanQrCode()" class="scan-qr-button">Scan QR Code</button>

  <button [disabled]="!(kgValue && dateValue && locationValue && addressValue)" (click)="register()" class="bottom-button">Register</button>
</p>
